name: Linting

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    name: Linting
    steps:
    - name: Checkout the repo
      uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version-file: go.mod

    - name: Verify modules
      run: |
        go mod verify
    - name: Linting
      run: |
        make lint
    - name: Verify format
      run: |
        make fmt
        git diff --exit-code

    - name: Run gosec
      run: |
        make gosec-scan
        cat gosec.json

    - name: Store the GitHub triggering event for the sonarcloud workflow
      if: |
        github.repository_owner == 'stolostron'
      run: |
        cat <<EOF > event.json
        ${{ toJSON(github.event) }}
        EOF

    - name: Upload artifacts for the sonarcloud workflow
      if: |
        github.repository_owner == 'stolostron'
      uses: actions/upload-artifact@v4
      with:
        name: artifacts
        path: |
          event.json
          gosec.json
